<div style="display : none;">
	<form action="" enctype="multipart/form-data" id="upload-image-form" >
		<input type="file" class="hide input-upload-image" name="upload_image" accept="image/png, image/gif, image/jpeg">
	</form>
</div>
<%- include('modal.ejs') %>
<%- include('html_template.ejs') %>
<script>
	var interval;
	ejs.delimiter = '@';
	$(document).ready(function(){
		
	})
</script>
</body>