<%- include('header.ejs') %>
<div class="container-fluid app-container">
	<div class="row flex-xl-nowrap">
		<div class="col-xl-2 menu-left">
			<%- include('left.ejs') %>
		</div>
		<div class="col-xl-10">
			<%- body %>
		</div>
	</div>
</div>
<%- include('footer.ejs') %>